[submodule "themes/hugo-phlat-theme"]
	path = themes/hugo-phlat-theme
	url = https://github.com/nraboy/hugo-phlat-theme
[submodule "docs"]
	path = docs
	url = https://github.com/bobuaast/bobu.github.io.git
